<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Super site de voyage </h1>
    <p class="lead text-center">Notre agence de voyage vous propose de comparer le prix des billets d'avions parmi plus de 600 compagnies
      aériennes pour réserver un vol pas cher au tarif le plus intéressant. Profitez également des offres vol+hôtel
      de GO Voyages pour voyager pas cher et faire un week-end en famille, un séjour entre amis ou des vacances en amoureux. </p>
  </div>
</div>
