<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">Site de voyage<span></span></h5>
            <p>Un superbe site pour toutes vos vacances !</p>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="widget no-box">
            <h5 class="widget-title">Contactez nous </h5>

            <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>
            <ul class="social-footer2">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright Company Name © 2016. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
