<div class="container">
  <form>

    <h4 class="h4"> Formulaire de saisie des coordonées : </h4>

    <div class="form-group">

      <label for="exampleInputEmail1"> Nom : </label>

      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="form-group">

      <label for="exampleInputEmail1"> Prénom : </label>

      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="form-group">

      <label for="exampleInputEmail1"> Adresse : </label>

      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="form-group">

      <label for="exampleInputEmail1"> email : </label>

      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="form-group">

      <label for="exampleInputEmail1"> Téléphone : </label>

      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
</div>
