<div class="container">
  <form (submit)="addUser()">

    <h4 class="h4 text-center"> Formulaire de saisie des coordonées : </h4>

    <div class="form-group w-75 mx-auto">

      <label for="exampleInputEmail1"> Nom : </label>

      <input type="text " name="name" class="form-control" [(ngModel)]="newUser.name">

      <small class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>


    <div class="form-group w-75 mx-auto">

      <label for="exampleInputEmail1"> Adresse : </label>

      <input type="text" name="adress" class="form-control" [(ngModel)]="newUser.adress">

      <small class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="form-group w-75 mx-auto">

      <label for="exampleInputEmail1"> email : </label>

      <input type="email" name="email" class="form-control" [(ngModel)]="newUser.email">

      <small class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="form-group w-75 mx-auto">

      <label for="exampleInputEmail1"> Téléphone : </label>

      <input type="text" name="phone" class="form-control" id="exampleInputEmail1" [(ngModel)]="newUser.phone">

      <small class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
</div>
