<div class="container">
  <h4 class="h4 text-center"> Résumé de la réservation </h4>
  <div class="row">


    <div class="col-md-4">

      <ul>
        <li> Travel : </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          At, consequuntur, delectus dignissimos earum eius eos esse excepturi exercitationem hic in laborios
          am molestias nobis odio pariatur, provident quibusdam soluta temporibus voluptatem.</p>
      </ul>



    </div>

    <div class="col-md-4">

      <ul>
        <li> User</li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae culpa enim inventore
          ipsa iste magnam mollitia necessitatibus nemo nostrum officia possimus, praesentium
          repudiandae rerum sapiente sequi tempora voluptatibus.</p>
      </ul>

    </div>

    <div class="col-md-4">

      <ul>
        <li> Booking</li>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi consequuntur deserunt doloremque ducimus exercitationem,
          ipsa magnam minima molestias nesciunt placeat repellat sint, vero! Architecto beatae deleniti odio pariatur perspiciatis!</p>
      </ul>

      <ul>
        <li>

        </li>
      </ul>
    </div>

  </div>
</div>
