<div class="container">

  <ul class="nav nav-pills nav-fill">

    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Accueil</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="coordonnees"> 1 - Saisie des coordonnées</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="optionsvoyage"> 2 - Options du voyage</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="resumereservation"> 3 - Résumé de la réservation</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>

  </ul>
</div>




