<div class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Saisie des coordonnées</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Options du voyage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Résumé de la réservation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
  </ul>
</div>




