<div class="container">
  <form (submit)="addBooking()">

    <h4 class="h4"> Options du voyage : </h4>

    <div class="form-group">

      <label for="exampleInputEmail1"> Nombre de personnes : </label>

      <input type="number" name="volume" min="1" max="10" [(ngModel)]="newBooking.nbPerson">

    </div>

    <div class="form-group">

      <label for="exampleInputEmail1"> Date de départ : </label>

      <input type="date" class="form-control" [(ngModel)]="newBooking.startDate">


    </div>

    <div class="form-group">

      <label for="exampleInputEmail1"> Commentaires particuliers : </label>

      <input type="textarea" class="form-control" id="exampleInputEmail1" [(ngModel)]="newBooking.additionalInfos">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
</div>
